*, *:after, *:before {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	min-height: 100%;
}
html, body, h1, h2, p, ul, ol {
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	font-family: 'Oxygen', Arial, sans-serif;
	font-size:12px;
	line-height: 1.4em;
	height: 100%;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.5em;
	margin: auto;
	max-width: 900px;
	padding: 0 20px;
}
p {

}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color:#666;
	text-decoration :underline;
}
img {
	max-width: 100%;
}
/***** GRID *****/
.overlay {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	width: 100%;
}
.site-wrapper {
	margin: 50px auto 0;
	max-width: 1000px;
	padding: 0 20px 40px;
	position: relative;
	width: 100%;
}
.grid {
	clear: both;
	display: block;
	float: none;
	overflow: hidden;
	width: 100%;
}
.col-1-2 {
	float: left;
}
.col-left {
	width: 60%;
}
.col-right {
	width: 40%;
}
.clear {
	clear: both;
	display: block;
	float: none;
}
/***** HEADER *****/
.header {
	padding: 0 0 45px;
}
.col-left a {
	margin-right: 30px;
}
.col-right {
	text-align: right;
}
.back-link {
	position: absolute;
	left: -10px;
	top: 2px;
}
/***** GALLERY *****/
.paginationstyle { /*Style for demo pagination divs*/
	text-align: center;
	padding: 20px 0;
}
.slides {
	display: block;
	height: 675px;
	overflow: hidden;
	width: 100%;
}
@media (max-width: 800px) {
	.slides {
		height: 540px;
	}
}
@media (max-width: 550px) {
	.slides {
		height: 380px;
	}
}
.hidepiece {
	height: 100%;
	text-align: center;
}
.hidepiece img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.paginationstyle a { /*Pagination links style*/
	padding: 0;
}
.paginationstyle a.disabled, .paginationstyle a.disabled:hover{ /*Style for "disabled" previous or next link*/
	cursor: default;
	visibility:hidden;
}

.site-wrapper {
	position: absolute;
height: 100%;
left: 0;
right: 0;
margin: 50px auto 0;
padding-bottom: 0;
}
.main-wrapper {
	position: relative;
	height: 100%;
	height: calc(100% - 165px);
	min-height: 300px;
}
.slides {
width: 100%;
position: absolute;
height: 100%;
}

.paginationstyle {
	position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
}
.imglinks img {
	padding: 0 15px;
}
@media (max-width: 600px) {
	.imglinks img {
		padding: 0 25px;
	}
}
